.
  <esi:include src="/news/esi/dtm1_utf8.htm" onerror="continue" maxwait="2000" />
  <!--#include virtual="/news/esi/dtm1_utf8.htm"-->

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="format-detection" content="telephone=no")
meta(name="author" content="The Asahi Shimbun Company")
meta(name="copyright" content="Copyright The Asahi Shimbun Company. All rights reserved. No reproduction or republication without written permission.")
title #{TITLE}

meta(name="description" content=DESC)
meta(name="keywords" content=KEYWORDS)
link(rel="canonical" href=`https://www.asahi.com/ads/${URL}`)
meta(property="fb:app_id" content="137119773101625")
meta(property="og:locale" content="ja_JP")
meta(property="og:title" content=TITLE)
meta(property="og:url" content=`https://www.asahi.com/ads/${URL}/`)
meta(property="og:image" content=`https://www.asahi.com/ads/${TOP}/img/ogp.png`)
meta(property="og:site_name" content="朝日新聞デジタル")
meta(property="og:type" content="article")
meta(property="og:description" content=DESC)
meta(property="article:publisher" content="https://www.facebook.com/asahicom")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@asahi")
meta(property="twitter:title" content=TITLE)
meta(property="twitter:description" content=DESC)
meta(name="twitter:image" content=`https://www.asahi.com/ads/${TOP}/img/ogp.png`)
meta(name="twitter:url" content=`https://www.asahi.com/ads/${URL}/?ref=twnews`)

link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
link(rel="apple-touch-icon" href="/logo_icon.png")
meta(name="msapplication-TileImage" content="/logo_icon.png")
meta(name="msapplication-TileColor" content="#B90000")
meta(name="RELEASE_DATE" content=RELEASE_DATE)
